---
layout: default.njk
saga-template-name: Frontpage
---
{#
------------------------------------------------
FRONTPAGE TEMPLATE
------------------------------------------------
Specfic page to control the layout for the frontpage
#}
{%- if env.mode != 'prod' %}<!-- /Users/mdk/Web/saga11/src/themes/grunn/layouts/page/frontpage.njk  -->{%- endif -%}

<article class="flex flex-col md:flex-row mt-4">
  <div class="aspect-video overflow-hidden -rotate-2">
    {% picture
      img=image,
      width=[640,1024, 1563],
      sizes="(max-width: 640px) 50vw, 100vw",
      css="shadow rounded-xl",
      loading = "eager"
    %}
  </div>

  <div class="prose prose-xl dark:prose-invert p-4 bg-white rounded-md shadow-xl dark:bg-slate-700 rotate-2 md:-ml-8 -mt-16 md:-mt-2 border border-slate-100 dark:border-slate-800">
    {{ content | safe }}
  </div>

</article>

{% include "components/all.njk" %}
